<template>
  <b-container fluid id="app">
    <b-row id="main">
      <b-col cols="12">
        <b-form>
          <b-form-file v-model="file" accept=".ttl" placeholder="Eine Datei auswählen..." drop-placeholder="Datei hier hin ziehen..." required></b-form-file>
        </b-form>
        <ontodia v-if="dataToShow" class="ontodiaContainer" :dataToShow="dataToShow" @reload="reload"/>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import ontodia from '@/ontodia.vue'

export default {
  name: 'app',
  components: {
    ontodia
  },
  data: () => {
    return {
      dataToShow: '',
      file: null
    }
  },
  watch: {
    file: async function (newVal, oldVal) {
      if (newVal !== null) {
        this.dataToShow = ''
        const fileContent = await new Promise((resolve, reject) => {
          const reader = new FileReader()
          reader.onload = async function (e) {
            resolve(e.target.result)
          }
          reader.readAsBinaryString(this.file)
        })
        this.dataToShow = String(fileContent)
      }
    }
  }
}
</script>

<style>
  html, body{
    width: 100%;
    height: 100%;
  }
  #app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }
  #main {
    flex-grow: 1;
    flex-shrink: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #main > div > * {
    margin-bottom: 1rem;
  }
  .verticalLine {
    height: 2rem;
    border-left: 1px solid grey;
  }
  .ontodiaContainer {
    height: 50rem;
  }
</style>
