<template>
  <div v-on="$listeners">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.0/css/all.css">
    <Ontodia class="internalOntodiaContainer" v-show="!isEmpty(dataToShow)" :dataToShow="dataToShow" :dynamicModal="dynamicModal"/>
  </div>
</template>

<script>
import { ReactInVue } from 'vuera'

import ontodia from './ontodia.js'
import isEmpty from 'lodash/isEmpty'

export default {
  name: 'ontodia',
  props: {
    dataToShow: { default: '' }, // turtle string
    dynamicModal: { type: Boolean }
  },
  components: {
    Ontodia: ReactInVue(ontodia)
  },
  methods: {
    isEmpty: isEmpty
  }
}
</script>

<style>
  .internalOntodiaContainer {
    border-style: solid;
    border-color: rgba(0,0,0,.25);
    border-width: 2px;
    border-radius: 4px;
    height: 100%;
  }
</style>
